.score {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (max-width: 600px) {
    align-items: center;
  }

  &__title,
  &__first-player,
  &__second-player {
    font-size: 30px;
    font-weight: 400;
    color: rgb(196, 196, 196);
    max-width: 250px;
    word-wrap: break-word;
  }
}
